environment: "local"
app:
  jwt:
    public_keys_url: classpath:local-development/jwks.json

spring:
  datasource:
    url: "jdbc:postgresql://localhost:5432/vekkuli"
    username: "vekkuli"
    password: "postgres"
  web:
    resources:
      static-locations: classpath:/public/

vekkuli:
  email:
    enabled: false
    region: "eu-west-1"
    sender_address: "varaukset@espoo.fi"
    sender_arn: "n/a"
    employee_address: "venepaikat@espoo.fi"
  paytrail:
    merchant_id: ${PAYTRAIL_MERCHANT_ID:375917}
    merchant_secret: ${PAYTRAIL_MERCHANT_SECRET:SAIPPUAKAUPPIAS}
  espi:
    api_url: ${ESPI_API_URL:https://integration.internal.staging.sst.espoon-voltti.fi}
    api_username: ${ESPI_API_USERNAME:vekkuli}
    api_password: ${ESPI_API_PASSWORD:password}
