<form id="form"
      th:attr="hx-patch=|/virkailija/kayttaja/${citizenId}/vene/${boat.id}|"
      novalidate
>
    <div class="columns is-vcentered">
        <div class="column is-narrow ">
            <h4 th:text="|#{citizenDetails.boat} : ${boat.name}|"></h4>
        </div>
    </div>
    <div class="columns">
        <div class="column">

            <div class="field">
                <label class="label" th:text="#{boatSpaceReservation.title.boatName}">Veneen
                    nimi</label>
                <div class="control">
                    <input
                            class="input"
                            type="text"
                            id="name"
                            name="name"
                    />
                    <div id="boatName-error-container">
                            <span id="boatName-error" class="help is-danger" th:if="${errors.containsKey('name')}"
                                  th:text="${errors.get('name')}">Boat name number required</span>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label" th:text="#{boatSpaceReservation.title.weight}">Paino (kg)</label>
                <p th:text="${boat.weightKg}">4500</p>
            </div>

        </div>
        <div class="column">
            <div class="field">
                <label class="label" th:text="#{boatSpaceReservation.title.boatType}">Veneen
                    tyyppi</label>
                <p th:text="${boat.type}">Purjevene</p>
            </div>
            <div class="field">
                <label class="label" th:text="#{boatSpaceReservation.title.draft}">Syväys (m)</label>
                <p th:text="${boat.depthCm}">1,5</p>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label" th:text="#{boatSpaceReservation.title.boatWidth}">Leveys
                    (m)</label>
                <p th:text="${boat.widthCm}">2,91</p>
            </div>
            <div class="field">
                <label class="label"
                       th:text="#{boatSpaceReservation.title.registrationNumber}">Rekisteritunnus</label>
                <p th:text="${boat.registrationCode}">P12345</p>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label" th:text="#{boatSpaceReservation.title.boatLength}">Pituus
                    (m)</label>
                <p th:text="${boat.lengthCm}">8,45</p>
            </div>
            <div class="field">
                <label class="label"
                       th:text="#{boatSpaceReservation.title.ownershipStatus}">Omistussuhde</label>
                <p th:text="#{${'boatApplication.ownershipOption.' + boat.ownership}}">
                    Olen ostamassa veneen <span class="icon has-text-warning"><i
                        class="fas fa-exclamation-circle"></i></span>
                </p>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button
                id="cancel"
                class="button" th:text="#{cancel}" type="button"
                th:attr="hx-get=|/virkailija/kayttaja/${citizenId}|"
                hx-target=".section"
                hx-select=".section"
        ></button>
        <button
                id="submit"
                class="button is-primary"
                th:text="#{citizenDetails.saveChanges}"
                type="submit"
        ></button>
    </div>
</form>
<a class="edit-link is-link is-disabled" hx-swap-oob="outerHTML:.edit-link">
    <span class="icon ml-s">
        <div th:replace="~{fragments/icons :: edit}"></div>
    </span>
    <span> muokkaus estetty</span>
</a>
