<form id="form"
      th:attr="hx-patch=|/virkailija/kayttaja/${citizenId}/vene/${boat.id}|"
      novalidate
>
    <input type="hidden" name="id" th:value="${boat.id}" />
    <div class="columns is-vcentered">
        <div class="column is-narrow ">
            <h4 th:text="|#{citizenDetails.boat} : ${boat.name}|"></h4>
        </div>
    </div>
    <div class="columns">
        <div class="column">

            <div class="field">
                <!--                <div class="control">-->
                <!--                    <label class="label" th:text="#{boatSpaceReservation.title.boatName}" for="name">Veneen-->
                <!--                        nimi</label>-->
                <!--                    <input-->
                <!--                            class="input"-->
                <!--                            type="text"-->
                <!--                            id="name"-->
                <!--                            name="name"-->
                <!--                            th:value="${boat.name}"-->
                <!--                    />-->
                <!--                    <div id="boatName-error-container">-->
                <!--                            <span id="boatName-error" class="help is-danger" th:if="${errors.containsKey('name')}"-->
                <!--                                  th:text="${errors.get('name')}">Boat name number required</span>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div th:utext="${@formComponents.textInput('boatSpaceReservation.title.boatName', 'name', boat.name, errors)}"></div>
            </div>
            <div class="field">
                <div class="control" id="weight-control">
                    <label class="label required" th:for="weight"
                           th:text="#{boatApplication.boatWeightInKg}">
                        (m)</label>
                    <input
                            class="input"
                            type="number"
                            min="0"
                            id="weight"
                            name="weight"
                            th:value="${boat.weight}"
                    />
                    <div id="weight-error-container">
                            <span id="weight-error" class="help is-danger" th:if="${errors.containsKey('weight')}"
                                  th:text="${errors.get('weight')}"
                            ></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="column">
            <div class="field">
                <div class="control">
                    <label class="label" for="type"
                           th:text="#{boatApplication.boatType}"></label>
                    <div class="select">
                        <select name="type" id="type">
                            <option
                                    th:each="option : ${boatTypes}"
                                    th:value="${option}"
                                    th:text="#{${'boatApplication.boatTypeOption.' + option}}"
                                    th:selected="${option == boat.type.toString()}"
                            ></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control" id="depth-control">
                    <label class="label required" for="depth"
                           th:text="#{boatApplication.boatDepthInMeters}">
                        (m)</label>
                    <input
                            class="input"
                            type="number"
                            min="0"
                            step="0.01"
                            id="depth"
                            name="depth"
                            th:value="${boat.depth}"
                    />
                    <div id="depth-error-container">
                            <span id="depth-error" class="help is-danger"
                                  th:if="${errors.containsKey('depth')}" th:text="${errors.get('depth')}"
                            ></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">


                <div class="control" id="width-control">
                    <label class="label required" for="width"
                           th:text="#{boatApplication.boatWidthInMeters}">
                        (m)</label>
                    <input
                            class="input"
                            type="number"
                            min="0"
                            step="0.01"
                            id="width"
                            name="width"
                            th:value="${boat.width}"
                    />
                    <div id="width-error-container">
                            <span id="width-error" class="help is-danger" th:if="${errors.containsKey('width')}"
                                  th:text="${errors.get('width')}"
                            ></span>
                    </div>
                </div>

            </div>
            <div class="field">

                <div class="control">
                    <label class="label" th:text="#{boatSpaceReservation.title.registrationNumber}"
                           for="registrationNumber"></label>
                    <input
                            class="input"
                            type="text"
                            id="registrationNumber"
                            name="registrationNumber"
                            th:value="${boat.registrationNumber}"
                    />
                    <div id="registrationNumber-error-container">
                            <span id="registrationNumber-error" class="help is-danger"
                                  th:if="${errors.containsKey('registrationNumber')}"
                                  th:text="${errors.get('registrationNumber')}">Boat name number required</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="column">
            <div class="field">
                <div class="control" id="length-control">
                    <label class="label required" for="length"
                           th:text="#{boatApplication.boatLengthInMeters}">
                        (m)</label>
                    <input
                            class="input"
                            type="number"
                            min="0"
                            step="0.01"
                            id="length"
                            name="length"
                            th:value="${boat.length}"
                    />
                    <div id="length-error-container">
                            <span id="length-error" class="help is-danger" th:if="${errors.containsKey('length')}"
                                  th:text="${errors.get('length')}"
                            ></span>
                    </div>
                </div>

            </div>
            <div class="field">
                <div class="control">
                    <label class="label" for="ownership"
                           th:text="#{boatSpaceReservation.title.ownershipStatus}"></label>
                    <div class="select">
                        <select name="ownership" id="ownership">
                            <option
                                    th:each="option : ${ownershipOptions}"
                                    th:value="${option}"
                                    th:text="#{${'boatApplication.ownershipOption.' + option}}"
                                    th:selected="${option == boat.ownership.toString()}"
                            ></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="column is-one-quarter">
            <div class="control">
                <label class="label" th:text="#{boatSpaceReservation.title.otherIdentifier}"
                       for="otherIdentifier"></label>
                <input
                        class="input"
                        type="text"
                        id="otherIdentifier"
                        name="otherIdentifier"
                        th:value="${boat.otherIdentifier}"
                />
                <div id="otherIdentification-error-container">
                            <span id="otherIdentification-error" class="help is-danger"
                                  th:if="${errors.containsKey('otherIdentifier')}"
                                  th:text="${errors.get('otherIdentifier')}"></span>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="control">
                <label class="label" th:text="#{boatSpaceReservation.title.additionalInfo}"
                       for="extraInformation"></label>
                <input
                        class="input"
                        type="text"
                        id="extraInformation"
                        name="extraInformation"
                        th:value="${boat.extraInformation}"
                />
                <div id="extraInformation-error-container">
                            <span id="extraInformation-error" class="help is-danger"
                                  th:if="${errors.containsKey('extraInformation')}"
                                  th:text="${errors.get('extraInformation')}"></span>
                </div>
            </div>
        </div>
        <div class="column"></div>
        <div class="column"></div>
    </div>
    <div class="buttons">
        <button
                id="cancel"
                class="button" th:text="#{cancel}" type="button"
                th:attr="hx-get=|/virkailija/kayttaja/${citizenId}|"
                hx-target="#citizen-details"
                hx-select="#citizen-details"
        ></button>
        <button
                id="submit"
                class="button is-primary"
                th:text="#{citizenDetails.saveChanges}"
                type="submit"
                hx-target="#citizen-details"
                hx-select="#citizen-details"
        ></button>
    </div>
</form>
<script>
    validation.init({forms: ['form']})
</script>
<a class="edit-link is-link is-disabled" hx-swap-oob="outerHTML:.edit-link">
    <span class="icon ml-s">
        <div th:replace="~{fragments/icons :: edit}"></div>
    </span>
    <span> muokkaus estetty</span>
</a>
<div class="edit-buttons"
     hx-swap-oob="outerHTML:.edit-buttons">
</div>
