<div id="confirm-cancel-modal" class="modal" x-show="modalOpen" style="display:none;" th:fragment="confirmCancellationModal">
  <div class="modal-underlay" @click="modalOpen = false"></div>
  <div class="modal-content">
    <p class="block has-text-left" th:text="#{boatSpaceApplication.cancelConfirmation}"></p>
    <p class="block has-text-left" th:text="#{boatSpaceApplication.cancelConfirmation2}"></p>
    <button id="confirm-cancel-modal-cancel"
            th:text="#{cancel}"
            class="button"
            x-on:click="modalOpen = false"
            type="button">
    </button>
    <button id="confirm-cancel-modal-confirm"
            th:text="#{confirm}"
            class="button is-primary"
            type="button"
            th:attr="hx-delete=|/kuntalainen/venepaikka/varaus/${reservationId}|"
            hx-on-htmx-after-request="window.location = '/kuntalainen/venepaikat';">
    </button>
  </div>
</div>
<div th:fragment="backButton">
  <button x-on:click="modalOpen = true"
          class="icon-text">
                <span class="icon">
                <div th:replace="~{fragments/icons :: chevron-left}"></div>
            </span>
    <span th:text="#{boatSpaces.goBack}">Takaisin</span>
  </button>
</div>
