<!-- SPDX-FileCopyrightText: 2023-2024 City of Espoo -->
<!-- -->
<!-- SPDX-License-Identifier: LGPL-2.1-or-later -->

<div id="harborOptions" th:fragment="harborOptions">
    <div th:each="harbor, obj : ${harbors}">
        <div class="field" th:id="${'harborOption' + obj.index}">
            <label class="label" th:text="#{boatApplication.harborOptionHeader}"></label>
            <div class="control">
                <div class="select">
                    <select name="locationId" th:id="${'locationId' + obj.index}" class="locationId" data-required>
                        <option value="" th:text="#{boatApplication.noneOption}"></option>
                        <option th:each="location : ${locations}" th:value="${location.id}"
                                th:selected="${location.id == harbor}" th:text="${location.name}"></option>
                    </select>
                </div>
                <button type="button" class="delete" hx-get="data:text/html," th:hx-target="${'#harborOption' + obj.index}"
                        hx-swap="outerHTML" style="margin: 10px"></button>
                <span class="validation-message" th:id="${'locationId' + obj.index + '-error'}">This field is required.</span>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label" th:text="#{boatApplication.harborOptionLabel}"></label>
        <div class="control">
            <div class="select">
                <select id="locationId" name="locationId" class="locationId" data-required>
                    <option value="" th:text="#{boatApplication.noneOption}"></option>
                    <option th:each="location, obj : ${locations}" th:value="${location.id}"
                            th:text="${location.name}"></option>
                </select>
            </div>
            <span class="validation-message" id="locationId-error">This field is required.</span>
        </div>
    </div>
    <br/>
    <div class="field">
        <div class="control">
            <button type="button" id="addLocationWish" class="button" hx-get="/partial/venepaikkatoiveet" hx-target="#harborOptions"
                    hx-swap="outerHTML" hx-include=".locationId" th:text="#{boatApplication.addHarborOptionButton}">
                Lisää satamatoive
            </button>
        </div>
    </div>
</div>