<!-- SPDX-FileCopyrightText: 2023-2024 City of Espoo -->
<!-- -->
<!-- SPDX-License-Identifier: LGPL-2.1-or-later -->

<div x-data="{ items: [''] }" id="harborOptions" th:fragment="harborOptions">
    <div >
        <template x-for="(value, index) in items" :key="index">
            <div class="field">
                <label :for="'locationId' + index" class="label" th:text="#{boatApplication.harborOptionHeader}"></label>
                <div class="control">
                    <div class="select">
                        <select :id="'locationId' + index" name="locationId" x-model="items[index]" class="locationId" data-required>
                            <option value="" th:text="#{boatApplication.noneOption}"></option>
                            <option th:each="location : ${locations}" th:value="${location.id}"
                                    th:text="${location.name}"></option>
                        </select>
                    </div>
                    <button type="button" x-show="items.length > 1" @click="items.splice(index, 1)" class="delete" style="margin: 10px"></button>
                    <span :id="'locationId' + index + '-error'" class="validation-message help is-danger" th:text="#{validation.required}" th:id="${'locationId' + index + '-error'}"></span>
                </div>
            </div>
        </template>
    </div>
    <br/>
    <div class="field">
        <div class="control">
            <button type="button" @click="items.push('')" x-show="items.length < 7" id="addLocationWish" class="button" th:text="#{boatApplication.addHarborOptionButton}">
                Lisää satamatoive
            </button>
        </div>
    </div>
</div>
