<div class="container p-3" id="sessionTimer" th:fragment="sessionTimer">
    <div role="timer" id="timer" class="timer has-text-centered" th:text="#{boatApplication.timer}">Sinulla on x minuuttia ja x sekuntia aikaa vahvistaa venepaikkavaraus maksamalla.</div>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', (event) => {
            let startingTime = [[${reservationTimeInSeconds}]];
            const timerElement = document.getElementById('timer');
            const timerMessageTemplate = /*[[#{boatApplication.timer}]]*/ 'Sinulla on {0} ja {1} aikaa vahvistaa venepaikkavaraus maksamalla.';
            const minutesText = /*[[#{boatApplication.minutes}]]*/ 'minuuttia';
            const secondsText = /*[[#{boatApplication.seconds}]]*/ 'sekuntia';

            const formatTimeMessage = (time) => {
                const minutes = Math.floor(time / 60);
                const seconds = time % 60;
                const minutesPart = `<span class="has-text-weight-bold">${String(minutes)} ${minutesText}</span>`;
                const secondsPart = `<span class="has-text-weight-bold">${String(seconds).padStart(2, '0')} ${secondsText}</span>`;
                return timerMessageTemplate.replace('{0}', minutesPart).replace('{1}', secondsPart);
            };

            const startTimer = () => {
                const interval = setInterval(() => {
                    if (startingTime > 0) {
                        startingTime--;
                        timerElement.innerHTML = formatTimeMessage(startingTime);
                    } else {
                        clearInterval(interval);
                        // Redirect when the timer reaches zero
                        window.location.replace(window.location.origin + '/kuntalainen/venepaikat');
                    }
                }, 1000);
            };

            timerElement.innerHTML = formatTimeMessage(startingTime);
            startTimer();
        });
    </script>

</div>
