<div class="container mb-l" id="header" th:fragment="stepIndicator(currentStep)">
    <div class="columns" id="step-indicator">
        <div class="column">
            <div id="chooseBoatSpace" class="step mb-m" th:classappend="${currentStep >= 1} ? ' visited' : ''"></div>
            <p class="is-uppercase has-text-centered title is-7" th:text="#{boatApplication.boatSpaceChooseHeader}">
                Paikan valinta</p>
        </div>
        <div class="column">
            <div id="fillInformation" class="step mb-m" th:classappend="${currentStep >= 2} ? ' visited' : ''"></div>
            <p class="is-uppercase has-text-centered title is-7" th:text="#{boatApplication.fillingInformationHeader}">
                Tietojen täyttäminen</p>
        </div>
        <div class="column">
            <div id="payment" class="step mb-m" th:classappend="${currentStep >= 3} ? ' visited' : ''"></div>
            <p class="is-uppercase has-text-centered title is-7" th:text="#{boatApplication.paymentHeader}">
                Maksaminen</p>
        </div>
        <div class="column">
            <div id="confirmation" class="step mb-m" th:classappend="${currentStep >= 4} ? ' visited' : ''"></div>
            <p class="is-uppercase has-text-centered title is-7" th:text="#{boatApplication.confirmationHeader}">
                Vahvistus</p>
        </div>
    </div>
    <div th:if="${currentStep == 2}">
        <div th:replace="~{fragments/session-timer :: sessionTimer}"></div>
    </div>
</div>
