# SPDX-FileCopyrightText: 2017-2022 City of Espoo
#
# SPDX-License-Identifier: LGPL-2.1-or-later

# Docker Compose file that can be used for development builds and that links
# against the development Docker files. Do not mistaken these with production
# docker files that the other compose files deal with.
#
# Tips and Tricks
# ===============
#
# If you need to target a local service instead you can use
# a pseudo address docker.for.mac.localhost when running on OXS.
# E.g. to target local application service set APPLICATION_API_URL: http://docker.for.mac.localhost:8080
version: '3.5'


services:
  integration-test:
    image: ghcr.io/espoon-voltti/vekkuli/service-builder:${TAG:-master}
    build:
      context: ../service/
      target: builder
    ports:
      - "8080:8080"
    environment:
      JAVA_OPTS: -server -Djava.security.egd=file:/dev/./urandom -Xms1024m -Xss512k -Xmx1024m -XX:TieredStopAtLevel=1
      SPRING_DATASOURCE_URL: jdbc:postgresql://vekkuli-db:5432/vekkuli
    entrypoint: ./gradlew integrationTest
    depends_on:
      - vekkuli-db
