<!-- SPDX-FileCopyrightText: 2023-2024 City of Espoo -->
<!-- -->
<!-- SPDX-License-Identifier: LGPL-2.1-or-later -->

<html layout:decorate="~{layout}">
<head>
    <title>Vekkuli - Venepaikat</title>
</head>
<body layout:fragment="body">
<section class="section">
    <div class="container">
        <h1 class="title" th:text="#{boatApplication.applyForBoatSpace}">Hae venepaikkaa</h1>

        <form id="form"
              method="get"
              action="/kuntalainen/venepaikat"
              class="block"
              hx-get="/kuntalainen/partial/vapaat-paikat"
              hx-target="#boatSpaces"
              hx-swap="innerHTML"
              hx-trigger="change">
            <h2 class="subtitle" th:text="#{boatApplication.boatInformation}">Veneen tiedot</h2>
            <div class="field" style="display: inline-block; margin-right: 20px"><label class="label" for="width"
                                                                                        th:text="#{boatSpaces.widthHeader}"></label>
                <div class="control">
                    <input type="number" name="width" class="input" id="width" style="width: 100px"
                           th:value="${width}"></div>
            </div>
            <div class="field" style="display: inline-block"><label class="label" for="length"
                                                                    th:text="#{boatSpaces.lengthHeader}"></label>
                <div class="control"><input type="number" name="length" class="input" id="length"
                                            style="width: 100px" th:value="${length}"></div>
            </div>
            <div class="field"><label class="label" for="amenity"
                                      th:text="#{boatSpaces.amenityHeader}"></label>
                <div class="select">
                    <select name="amenity" id="amenity">
                        <option value="" th:selected="${amenity} == null"
                                th:text="#{boatSpaces.noneOption}"></option>
                        <option
                                th:each="option : ${amenities}"
                                th:value="${option}"
                                th:text="#{${'boatSpaces.' + (option[0].toLowerCase() + option.substring(1))}}"
                                th:selected="${option} == ${amenity}"></option>
                    </select></div>
            </div>
        </form>

        <div id="boatSpaces" class="block" hx-trigger="load" hx-get="/kuntalainen/partial/vapaat-paikat"
             hx-swap="innerHTML">
        </div>

    </div>
</section>
</body>
</html>
