<html layout:decorate="~{layout}">
<head>
    <title>Vekkuli - Venepaikat</title>
</head>
<body layout:fragment="body">
<section class="section">
    <div th:replace="~{fragments/step-indicator :: stepIndicator(currentStep=1)}"></div>
    <div class="container">
        <div>
            <h2>Espoon kaupungin venepaikkojen vuokraus</h2>
            <div class="reservation-info column is-two-thirds">
                <div class="info-icon" th:replace="~{fragments/icons :: info}"></div>
                <div class="info-content" th:utext="#{boatSpaces.infoText}">
                    <p>Venepaikkoja voivat varata vain espoolaiset 01.02.2024-31.3.2024.</p>
                    <p>Muut kuin espoolaiset voivat varata venepaikkoja 01.04.2024 klo 12:00 alkaen.</p>
                    <p>Venepaikan varaaminen vaatii vahvan tunnistautumisen</p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-two-fifths">

                <form id="form"
                      method="get"
                      action="/kuntalainen/venepaikat"
                      class="block"
                      hx-get="/kuntalainen/partial/vapaat-paikat"
                      hx-target="#boatSpaces"
                      hx-swap="innerHTML"
                      hx-trigger="input delay:1s, change">

                    <h2 class="subtitle" id="search-page-header" th:text="#{boatApplication.boatPlaceSearchTitle}"></h2>

                    <div class="block">
                        <div class="field">
                            <label class="label">Haettava paikka</label>
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" id="boatSpaceType-slip" name="boatSpaceType" value="Slip"
                                           th:text="#{boatSpaces.typeSlipOption}"/>

                                </label>
                                <label class="radio">
                                    <input type="radio" id="boatSpaceType-trailer" name="boatSpaceType" value="Trailer"
                                           th:text="#{boatSpaces.typeTrailerOption}"/>

                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="block">
                        <div class="field">
                            <label class="label" for="boatTypeFilter"
                                   th:text="#{boatApplication.boatType}"></label>
                            <div class="control">
                                <div class="select">
                                    <select name="boatType" id="boatTypeFilter">
                                        <option value=""
                                                th:text="#{boatSpaces.noneOption}"></option>
                                        <option
                                                th:each="option : ${boatTypes}"
                                                th:value="${option}"
                                                th:text="#{${'boatApplication.boatTypeOption.' + option}}"
                                        ></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block">
                        <div class="field" style="display: inline-block; margin-right: 20px">
                            <label class="label" for="widthFilter" th:text="#{boatSpaces.widthHeader}"></label>
                            <div class="control">
                                <input type="number" name="width" class="input" id="widthFilter" style="width: 100px">
                            </div>
                        </div>

                        <div class="field" style="display: inline-block">
                            <label class="label" for="lengthFilter" th:text="#{boatSpaces.lengthHeader}"></label>
                            <div class="control">
                                <input type="number" name="length" class="input" id="lengthFilter" style="width: 100px">
                            </div>
                        </div>
                    </div>

                    <div class="block">
                        <label class="label" th:text="#{boatSpaces.amenityHeader}"></label>
                            <div class="field columns is-multiline is-mobile">
                                <div class="column is-half pb-none" th:each="option : ${amenities}">
                                    <label class="checkbox">
                                        <input name="amenities"
                                               th:id="${option[0].toLowerCase() + option.substring(1) + '-checkbox'}"
                                               th:value="${option}"
                                               type="checkbox"/>
                                        <span th:text="#{${'boatSpaces.amenityOption.' + option}}"></span>
                                    </label>
                                </div>
                        </div>
                    </div>

                    <div class="block">
                        <label class="label" th:text="#{boatSpaces.harborHeader}"></label>
                        <div class="field columns is-multiline is-mobile">
                            <div class="column is-half pb-none" th:each="option : ${locations}">
                                <label class="checkbox">
                                    <input name="harbor"
                                           th:id="${option.name[0].toLowerCase() + option.name.substring(1) + '-checkbox'}"
                                           th:value="${option.id}"
                                           type="checkbox"/>
                                    <span th:text="${option.name}">>
                        </span>
                                </label>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="column">
                <div id="boatSpaces" class="block"
                     hx-trigger="load"
                     hx-get="/kuntalainen/partial/vapaat-paikat"
                     hx-swap="innerHTML">
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
