<html layout:decorate="~{layout}">
<head>
    <title th:text="#{boatSpaceReservation.title.reservationConfirmation}">Venepaikkahakemus</title>
</head>
<body layout:fragment="body">
<div class="section">

    <div class="box">
        <div th:replace="~{fragments/step-indicator :: stepIndicator(currentStep=4)}"></div>
        <div id="reservation-confirmation-container" class="block">
            <h2 th:text="#{boatSpaceReservation.title.confirmation}">Varausvahvistus</h2>

            <div class="block" th:text="#{boatSpaceReservation.message.successfulReservation}">
                Venepaikan varaus onnistui. Saat viestin vahvistuksesta myös ilmoittamaasi
                sähköpostiosoitteeseen.
            </div>
            <div class="block">
                <label th:text="#{boatSpaceReservation.label.placeDetails}">Paikan tiedot:</label>
                <div>
                    <label th:text="#{boatSpaceReservation.label.placeName}">Venepaikan nimi:</label>
                    <span th:text="|${reservation.locationName} ${reservation.place}|">HAUKILAHTI A 14</span>
                </div>
                <div>
                    <label th:text="#{boatSpaceReservation.label.placeWidth}">Venepaikan leveys:</label>
                    <span th:text="${reservation.boatWidthInM}">3,50 m</span>
                </div>
                <div>
                    <label th:text="#{boatSpaceReservation.label.placeLength}">Venepaikan pituus:</label>
                    <span th:text="${reservation.boatLengthInM}">10,50 m</span>
                </div>
                <div>
                    <label th:text="#{boatSpaceReservation.label.placeEquipment}">Venepaikan varustus:</label>
                    <span th:text="#{${'boatSpaces.amenityOption.' + reservation.amenity}}">Peräpoiju</span>
                </div>
            </div>
            <div class="block">
                <label th:text="#{boatSpaceReservation.label.price}">Venepaikan hinta:</label>
                <div>
                    <label th:text="#{boatSpaceReservation.label.payment}">Maksu:</label>
                    <span th:text="|${reservation.priceWithoutAlvInEuro} &euro;|">333,06 €</span>
                </div>
                <div>
                    <label th:text="#{boatSpaceReservation.label.vat}">Alv.:</label>
                    <span th:text="|${reservation.alvPriceInEuro} &euro;|">79,93 €</span>
                </div>
                <div>
                    <label th:text="#{boatSpaceReservation.label.total}">Yhteensä:</label>
                    <span th:text="|${reservation.price} &euro;|">413 €</span>
                </div>
            </div>
            <div class="block">
                <label th:text="#{boatSpaceReservation.label.reservationValidity}">Varaus voimassa:</label>
                <span th:text="#{${'boatSpaceReservation.validity.' + reservation.validity.toString()}}">Toistaiseksi voimassa</span>
            </div>
            <a class="button is-primary block" href="/kuntalainen/venepaikat"
               th:text="#{boatSpaceReservation.button.back}">Takaisin etusivulle</a>
        </div>

    </div>
</div>
</body>
</html>
