<html layout:decorate="~{layout}">
<head>
    <title th:text="#{boatApplication.applyForBoatSpace}"></title>
</head>

<body layout:fragment="body">

<section class="section">
    <div class="container" id="container" x-data="{ modalOpen: false }">
        <div class="mb-l">
            <button x-on:click="modalOpen = true"
                    class="icon-text">
                <span class="icon">
                <div th:replace="~{fragments/icons :: chevron-left}"></div>
            </span>
                <span th:text="#{boatSpaces.goBack}">Takaisin</span>
            </button>
        </div>
        <div th:replace="~{fragments/step-indicator :: stepIndicator(currentStep=2)}"></div>
        <form
                id="form"
                class="column is-half"
                th:action="|/kuntalainen/venepaikka/varaus/${reservationId}|"
                method="post"
                novalidate
                th:object="${input}"
        >
            <div class="block">
                <h3 class="header" th:text="#{boatApplication.boatSpaceToApply}">Varattava paikka</h3>

                <p><span th:text="${boatSpace.harbor}">Haukilahti</span></p>
                <p th:text="|#{boatApplication.boatSpaceSection} ${boatSpace.section}|">Laituri B</p>
                <p th:text="|#{boatApplication.boatSpacePlace} ${boatSpace.section}${boatSpace.placeNumber}|">Paikka
                    B22</p>
                <p th:text="|${boatSpace.widthInMeters} m x ${boatSpace.lengthInMeters} m|">3 m x 7 m</p>
                <p th:text="#{${'boatSpaces.amenityOption.' + boatSpace.amenity}}">
                    Aisa</p>
            </div>
            <div class="block">
                <h4 class="label" th:text="#{boatApplication.boatSpacePrice}">Hinta</h4>
                <p th:text="|#{boatApplication.boatSpaceFee}: ${boatSpace.priceWithoutAlv} &euro;|">Maksu: 350 €</p>
                <p th:text="|#{boatApplication.boatSpaceFeeAlv}: ${boatSpace.priceAlv} &euro;|">Alv: 75 €</p>
                <p th:text="|#{boatApplication.boatSpaceFeeTotal}: ${boatSpace.priceTotal} &euro;|">Yhteensä: 425
                    €</p>
            </div>
            <div class="block">
                <h3 class="header" th:text="#{boatApplication.boatInformation}">Veneen tiedot</h3>

                <div class="field" th:if="${not boats.isEmpty()}">
                    <div class="radio">
                        <input type="radio" th:field="*{boatId}" value="0"
                               hx-trigger="change"
                               th:attr="hx-get=|/kuntalainen/venepaikka/varaus/${reservationId}?boatId=0|"
                               hx-target="body"
                               hx-swap="outerHTML"
                        />
                        <label th:for="${#ids.prev('boatId')}" th:text="#{boatApplication.newBoat}">Uusi vene</label>
                    </div>
                    <div class="radio" th:each="boat : ${boats}">
                        <input type="radio" th:field="*{boatId}" th:value="${boat.id}"
                               hx-trigger="change"
                               th:attr="hx-get=|/kuntalainen/venepaikka/varaus/${reservationId}?boatId=${boat.id}|"
                               hx-target="body"
                               hx-swap="outerHTML"
                        />
                        <label th:for="${#ids.prev('boatId')}"
                               th:text="${boat.displayName}">Mun vene</label>
                    </div>
                </div>
                <div class="field">
                    <label class="label required" th:for="boatType"
                           th:text="#{boatApplication.boatType}"></label>
                    <div class="control">
                        <div class="select">
                            <select th:field="*{boatType}">
                                <option value="" th:text="#{'boatApplication.noneOption'}"></option>
                                <option th:each="option : ${boatTypes}"
                                        th:value="${option}"
                                        th:text="#{${'boatApplication.boatTypeOption.' + option}}"
                                ></option>
                            </select>
                        </div>
                    </div>
                    <span class="help is-danger" th:if="${#fields.hasErrors('boatType')}"
                          th:errors="*{boatType}">Boat type error</span>
                </div>

                <div class="field">
                    <div class="field is-grouped">
                        <div class="control" id="width-control">
                            <label class="label required" th:for="width"
                                   th:text="#{boatApplication.boatWidthInMeters}">Leveys
                                (m)</label>
                            <input
                                    th:field="*{width}"
                                    type="number"
                                    min="0"
                                    step="0.1"
                                    class="input"
                                    style="width: 100px"
                                    hx-trigger="blur delay:100ms"
                                    th:attr="hx-post=|/kuntalainen/venepaikka/varaus/${reservationId}/validate|"
                                    hx-swap="outerHTML"
                                    hx-target="#width-error-container"
                                    hx-select="#width-error-container"
                                    hx-select-oob="#warning"
                            />
                            <div id="width-error-container">
                            <span id="width-error" class="help is-danger" th:if="${#fields.hasErrors('width')}"
                                  th:errors="*{width}">Boat width required</span>
                            </div>
                        </div>
                        <div class="control" id="length-control">
                            <label class="label required" th:for="length"
                                   th:text="#{boatApplication.boatLengthInMeters}">Pituus (m)</label>
                            <input
                                    type="number"
                                    min="0"
                                    step="0.1"
                                    th:field="*{length}"
                                    class="input"
                                    style="width: 100px"
                                    hx-trigger="blur delay:100ms"
                                    th:attr="hx-post=|/kuntalainen/venepaikka/varaus/${reservationId}/validate|"
                                    hx-swap="outerHTML"
                                    hx-target="#length-error-container"
                                    hx-select="#length-error-container"
                                    hx-select-oob="#warning"
                            />
                            <div id="length-error-container">
                                <span id="length-error" class="help is-danger" th:if="${#fields.hasErrors('length')}"
                                      th:errors="*{length}">Boat length required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="warning" hx-swap-oob="true">
                    <div class="warning"
                         id="boatSize-warning"
                         th:if="${showSizeWarning}">
                        <p class="block" th:text="#{boatSpaceApplication.boatSizeWarning}"></p>
                        <p class="block" th:text="#{boatSpaceApplication.boatSizeWarningExplanation}"></p>
                        <button class="icon-text"
                                type="button"
                                id="size-warning-back-button"
                                x-on:click="modalOpen = true">
                            <span class="icon">
                                <div th:replace="~{fragments/icons :: chevron-left}"></div>
                            </span>
                            <span th:text="#{boatSpaces.goBack}">Takaisin</span>
                        </button>
                    </div>
                </div>

                <div class="field">
                    <div class="field is-grouped">
                        <div class="control" id="depth-control">
                            <label class="label required" th:for="depth"
                                   th:text="#{boatApplication.boatDepthInMeters}">Syväys
                                (m)</label>
                            <input
                                    th:field="*{depth}"
                                    type="number"
                                    min="0"
                                    step="0.1"
                                    class="input"
                                    style="width: 100px"
                                    hx-trigger="blur"
                                    th:attr="hx-post=|/kuntalainen/venepaikka/varaus/${reservationId}/validate|"
                                    hx-swap="outerHTML"
                                    hx-target="#depth-error-container"
                                    hx-select="#depth-error-container"
                            />
                            <div id="depth-error-container">
                            <span id="depth-error" class="help is-danger" th:if="${#fields.hasErrors('depth')}"
                                  th:errors="*{depth}">Depth required</span>
                            </div>
                        </div>
                        <div class="control" id="weight-control">
                            <label class="label required" th:for="weight"
                                   th:text="#{boatApplication.boatWeightInKg}">Paino
                                (kg)</label>
                            <input
                                    type="number"
                                    min="0"
                                    class="input"
                                    style="width: 100px"
                                    th:field="*{weight}"
                                    hx-trigger="blur"
                                    th:attr="hx-post=|/kuntalainen/venepaikka/varaus/${reservationId}/validate|"
                                    hx-swap="outerHTML"
                                    hx-target="#weight-error-container"
                                    hx-select="#weight-error-container"
                            />
                            <div id="weight-error-container">
                                    <span id="weight-error" class="help is-danger"
                                          th:if="${#fields.hasErrors('weight')}"
                                          th:errors="*{weight}">Weight required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label th:for="boatName" class="label" th:text="#{boatApplication.boatName}">Veneen
                        nimi</label>
                    <div class="control">
                        <input
                                class="input"
                                type="text"
                                th:field="*{boatName}"
                                hx-trigger="blur"
                                th:attr="hx-post=|/kuntalainen/venepaikka/varaus/${reservationId}/validate|"
                                hx-swap="outerHTML"
                                hx-target="#boatName-error-container"
                                hx-select="#boatName-error-container"
                        />
                    </div>
                    <div id="boatName-error-container">
                            <span id="boatName-error" class="help is-danger" th:if="${#fields.hasErrors('boatName')}"
                                  th:errors="*{boatName}">Boat name number required</span>
                    </div>
                </div>

                <div class="field" th:attr="x-data='{&quot;noReg&quot:'+${input.noRegistrationNumber}+'}'">
                    <div class="field">
                        <h4 class="label required" th:text="#{boatApplication.boatIdentificationTitle}">Veneen
                            rekisteritunnus / tunnistenumero</h4>
                        <label class="checkbox">
                            <input type="checkbox" th:field="*{noRegistrationNumber}" x-model="noReg"/>
                            <span th:text="#{boatApplication.noRegistrationNumber}">Ei rekisteritunnusta</span>
                        </label>
                        <div x-show="!noReg" class="control" id="registrationNumber-control">
                            <input
                                    class="input"
                                    type="text"
                                    data-required
                                    th:placeholder="#{boatApplication.registrationNumberPlaceHolder}"
                                    th:field="*{boatRegistrationNumber}"
                                    hx-trigger="blur"
                                    th:attr="hx-post=|/kuntalainen/venepaikka/varaus/${reservationId}/validate|"
                                    hx-swap="outerHTML"
                                    hx-target="#boatRegistrationNumber-error-container"
                                    hx-select="#boatRegistrationNumber-error-container"
                            />
                            <div id="boatRegistrationNumber-error-container">
                                    <span id="boatRegistrationNumber-error" class="help is-danger"
                                          th:if="${#fields.hasErrors('boatRegistrationNumber')}"
                                          th:errors="*{boatRegistrationNumber}">Registration number required</span>
                            </div>
                        </div>
                    </div>


                    <div class="field">
                        <label th:for="otherIdentification" class="label" :class="{required: noReg}"
                               th:text="#{boatApplication.otherIdentification}">Muu tunniste</label>
                        <div class="control">
                            <input
                                    class="input"
                                    type="text"
                                    data-required
                                    th:placeholder="#{boatApplication.otherIdentificationPlaceholder}"
                                    th:field="*{otherIdentification}"
                                    hx-trigger="blur"
                                    th:attr="hx-post=|/kuntalainen/venepaikka/varaus/${reservationId}/validate|"
                                    hx-swap="outerHTML"
                                    hx-target="#otherIdentification-error-container"
                                    hx-select="#otherIdentification-error-container"/>
                        </div>
                        <div id="otherIdentification-error-container">
                            <span id="otherIdentification-error" class="help is-danger"
                                  th:if="${#fields.hasErrors('otherIdentification')}"
                                  th:errors="*{otherIdentification}">Other identification required</span>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label" th:for="extraInformation"
                           th:text="#{boatApplication.extraInformation}">Lisätiedot</label>
                    <textarea class="textarea" rows="1" th:field="*{extraInformation}"
                              th:placeholder="#{boatApplication.extraInformationPlaceHolder}"
                              style="width: 350px"></textarea>
                </div>
                <div class="field">
                    <h4 class="label required" th:text="#{boatApplication.ownerShipTitle}">Veneen
                        omistussuhde</h4>
                    <div class="control is-flex-direction-row">
                        <div class="radio" th:each="opt : ${ownershipOptions}">
                            <input
                                    type="radio"
                                    th:field="*{ownerShip}"
                                    th:value="${opt}"
                            />
                            <label th:for="${#ids.prev('ownerShip')}"
                                   th:text="#{${'boatApplication.ownershipOption.' + opt}}">Owner</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block">
                <h3 class="header" th:text="#{boatApplication.personalInformation}">Vuokraaja</h3>
                <div class="field">
                    <p th:text="|${user.firstName} ${user.lastName}|">Testi Testaaja</p>
                    <p th:text="${user.nationalId}">030594-6943</p>
                    <p th:text="${user.address}">Kenttätie 5B 34</p>
                    <p th:text="|${user.postalCode} ${user.municipality}|">02501 Espoo</p>
                </div>
                <div class="field">
                    <div class="control" id="email-control">
                        <label th:for="email" class="label required"
                               th:text="#{boatApplication.email}">Sähköposti</label>
                        <input
                                class="input"
                                type="text"
                                th:placeholder="#{boatApplication.email}"
                                th:field="*{email}"
                                hx-trigger="blur"
                                th:attr="hx-post=|/kuntalainen/venepaikka/varaus/${reservationId}/validate|"
                                hx-swap="outerHTML"
                                hx-target="#email-error-container"
                                hx-select="#email-error-container"
                        />
                        <div id="email-error-container">
                                <span id="email-error" class="help is-danger" th:if="${#fields.hasErrors('email')}"
                                      th:errors="*{email}">Email required</span>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control" id="phone-control">
                        <label th:for="phone" class="label required"
                               th:text="#{boatApplication.phone}">Puhelinnumero</label>
                        <input
                                class="input"
                                type="text"
                                th:placeholder="#{boatApplication.phone}"
                                th:field="*{phone}"
                                th:attr="hx-post=|/kuntalainen/venepaikka/varaus/${reservationId}/validate|"
                                hx-swap="outerHTML"
                                hx-target="#phone-error-container"
                                hx-select="#phone-error-container"
                        />
                        <div id="phone-error-container">
                                <span id="phone-error" class="help is-danger" th:if="${#fields.hasErrors('phone')}"
                                      th:errors="*{phone}">Phone number required</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block">
                <div id="certify-control">
                    <label class="checkbox">
                        <input
                                type="checkbox"
                                data-required
                                th:field="*{certifyInformation}"
                                hx-trigger="change"
                                th:attr="hx-post=|/kuntalainen/venepaikka/varaus/${reservationId}/validate|"
                                hx-swap="outerHTML"
                                hx-target="#certify-error-container"
                                hx-select="#certify-error-container"
                        >
                        <span th:text="#{boatApplication.certifyInfoCheckbox}">Vakuutan antamani tiedot oikeiksi.</span>
                    </label>
                    <div id="certify-error-container">
                            <span id="certify-error" class="help is-danger"
                                  th:if="${#fields.hasErrors('certifyInformation')}"
                                  th:errors="*{certifyInformation}">Certification required</span>
                    </div>
                </div>

                <div id="agree-control">
                    <label class="checkbox">
                        <input
                                type="checkbox"
                                data-required
                                th:field="*{agreeToRules}"
                                hx-trigger="change"
                                th:attr="hx-post=|/kuntalainen/venepaikka/varaus/${reservationId}/validate|"
                                hx-swap="outerHTML"
                                hx-target="#agree-error-container"
                                hx-select="#agree-error-container"
                        />
                        <span th:text="#{boatApplication.agreementCheckbox}">Olen lukenut venesatamasäännöt ja sitoudun noudattamaan niitä. Varaus korvaa venesatamasäännöissä mainitun vuokrasopimuksen.</span>
                    </label>
                    <div id="agree-error-container">
                            <span id="agree-error" class="help is-danger" th:if="${#fields.hasErrors('agreeToRules')}"
                                  th:errors="*{agreeToRules}">Agreement required</span>
                    </div>
                </div>
            </div>

            <div class="field block">
                <div class="control">
                    <button id="cancel"
                            class="button is-secondary"
                            type="button"
                            th:text="#{boatApplication.cancelReservation}"
                            x-on:click="modalOpen = true"
                    >
                        Peruuta varaus
                    </button>


                    <button id="submit"
                            class="button is-primary"
                            type="button"
                            th:text="#{boatApplication.continueToPaymentButton}"
                            th:attr="hx-post=|/kuntalainen/venepaikka/varaus/${reservationId}|"
                            hx-swap="outerHTML"
                            hx-trigger="click"
                            hx-select="#container"
                            hx-target="#container"
                    >
                        Lähetä hakemus
                    </button>
                </div>
            </div>
        </form>
        <div id="confirm-cancel-modal" class="modal" x-show="modalOpen" style="display:none;">
            <div class="modal-underlay" _="on click trigger closeModal"></div>
            <div class="modal-content">
                <p class="block has-text-left" th:text="#{boatSpaceApplication.cancelConfirmation}"></p>
                <p class="block has-text-left" th:text="#{boatSpaceApplication.cancelConfirmation2}"></p>
                <button id="confirm-cancel-modal-cancel"
                        th:text="#{cancel}"
                        class="button "
                        x-on:click="modalOpen = false"
                        type="button">
                </button>
                <button id="confirm-cancel-modal-confirm"
                        th:text="#{confirm}"
                        class="button is-primary"
                        type="button"
                        th:attr="hx-delete=|/kuntalainen/venepaikka/varaus/${reservationId}|"
                        hx-on-htmx-after-request="window.location = '/kuntalainen/venepaikat';">
                </button>
            </div>
        </div>
    </div>
</section>
</body>
</html>
