<html layout:decorate="~{layout}">
<head>
    <title th:text="#{boatApplication.applyForBoatSpace}"></title>
</head>

<body layout:fragment="body">

<section class="section">
    <div class="container">
        <div th:replace="~{fragments/session-timer :: sessionTimer}"></div>
        <form id="form" th:action="|/kuntalainen/venepaikka/varaus/${reservationId}|" method="post" novalidate  th:object="${input}">
            <div>
                <h3 class="header" th:text="#{boatApplication.boatSpaceToApply}">Varattava paikka</h3>

                <p><span th:text="${boatSpace.harbor}">Haukilahti</span></p>
                <p th:text="|#{boatApplication.boatSpaceSection} ${boatSpace.section}|">Laituri B</p>
                <p th:text="|#{boatApplication.boatSpacePlace} ${boatSpace.section}${boatSpace.placeNumber}|">Paikka
                    B22</p>
                <p th:text="|${boatSpace.widthInMeters} m x ${boatSpace.lengthInMeters} m|">3 m x 7 m</p>
                <p th:text="#{${'boatSpaces.amenityOption.' + boatSpace.amenity}}">
                    Aisa</p>
            </div>
                <div>
                    <h4 class="label" th:text="#{boatApplication.boatSpacePrice}">Hinta</h4>
                    <p th:text="|#{boatApplication.boatSpaceFee}: ${boatSpace.priceWithoutAlv} €|">Maksu: 350 €</p>
                    <p th:text="|#{boatApplication.boatSpaceFeeAlv}: ${boatSpace.priceAlv} €|">Alv: 75 €</p>
                    <p th:text="|#{boatApplication.boatSpaceFeeTotal}: ${boatSpace.priceTotal} €|">Yhteensä: 425 €</p>
                </div>
             <div>
                 <h3 class="header" th:text="#{boatApplication.boatInformation}">Veneen tiedot</h3>

                <div class="field">
                    <label class="label required" th:for="boatType"
                           th:text="#{boatApplication.boatType}"></label>
                    <div class="control">
                        <div class="select">
                            <select th:field="*{boatType}" >
                                <option value="" th:text="#{'boatApplication.noneOption'}"></option>
                                <option th:each="option : ${boatTypes}"
                                        th:value="${option}"
                                        th:text="#{${'boatApplication.boatTypeOption.' + option}}"
                                ></option>
                            </select>
                        </div>
                    </div>
                    <span class="help is-danger" th:if="${#fields.hasErrors('boatType')}" th:errors="*{boatType}">Boat type error</span>
                </div>
                 <div class="field">
                     <div class="field is-grouped">
                         <div class="control">
                             <label class="label required" th:for="width" th:text="#{boatApplication.boatWidthInMeters}">Leveys (m)</label>
                             <input type="number" min="0" step="0.1" th:field="*{width}" class="input" style="width: 100px"  data-required>
                             <span class="help is-danger" th:if="${#fields.hasErrors('width')}" th:errors="*{width}">Boat width required</span>
                         </div>
                         <div class="control">
                             <label class="label required" th:for="length" th:text="#{boatApplication.boatLengthInMeters}">Pituus (m)</label>
                             <input type="number" min="0" step="0.1"  th:field="*{length}" class="input" style="width: 100px"  data-required>
                             <span class="help is-danger" th:if="${#fields.hasErrors('length')}" th:errors="*{length}">Boat length required</span>

                         </div>
                     </div>
                 </div>
                 <div class="field">
                     <div class="field is-grouped">
                         <div class="control">
                             <label class="label required" th:for="depth" th:text="#{boatApplication.boatDepthInMeters}">Syväys (m)</label>
                             <input type="number" min="0" step="0.1" class="input"  style="width: 100px" th:field="*{depth}" data-required>
                             <span class="help is-danger" th:if="${#fields.hasErrors('depth')}" th:errors="*{depth}">Depth required</span>
                         </div>
                         <div class="control">
                             <label class="label required" th:for="weight" th:text="#{boatApplication.boatWeightInKg}">Paino (kg)</label>
                             <input type="number" min="0" class="input"  style="width: 100px"  data-required th:field="*{weight}">
                             <span class="help is-danger" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}">Weight required</span>
                         </div>
                     </div>
                 </div>
                 <div class="field" th:attr="x-data='{&quot;noReg&quot:'+${input.noRegistrationNumber}+'}'">
                     <h4 class="label required" th:text="#{boatApplication.boatIdentificationTitle}">Veneen rekisteritunnus / tunnistenumero</h4>
                     <label class="checkbox">
                         <input type="checkbox" th:field="*{noRegistrationNumber}" @click="noReg = ! noReg"/>
                         <span th:text="#{boatApplication.noRegistrationNumber}" >Ei rekisteritunnusta</span>
                     </label>
                     <div x-show="!noReg">
                        <input class="input" type="text"
                                    data-required th:placeholder="#{boatApplication.registrationNumberPlaceHolder}" th:field="*{boatRegistrationNumber}"/>
                        <span class="help is-danger" th:if="${#fields.hasErrors('boatRegistrationNumber')}" th:errors="*{boatRegistrationNumber}">Registration number required</span>
                     </div>
                 </div>
                 <div class="field">
                     <label th:for="boatName"  class="label" th:text="#{boatApplication.boatName}">Veneen nimi</label>
                     <div class="control">
                         <input class="input" type="text"  th:field="*{boatName}"/>
                     </div>
                     <span class="help is-danger" th:if="${#fields.hasErrors('boatName')}" th:errors="*{boatName}">Boat name number required</span>
                 </div>

                 <div class="field">
                     <label th:for="otherIdentification" class="label" th:text="#{boatApplication.otherIdentification}">Muu tunniste</label>
                     <div class="control">
                         <input  class="input" type="text" th:placeholder="#{boatApplication.otherIdentificationPlaceholder}" th:field="*{otherIdentification}"/>
                     </div>
                     <span class="help is-danger" th:if="${#fields.hasErrors('otherIdentification')}" th:errors="*{otherIdentification}">Other identification required</span>
                 </div>
                 <div class="field">
                     <label class="label" th:for="extraInformation" th:text="#{boatApplication.extraInformation}">Lisätiedot</label>
                     <textarea class="textarea" rows="1" th:field="*{extraInformation}"
                               th:placeholder="#{boatApplication.extraInformationPlaceHolder}" style="width: 350px"></textarea>
                 </div>
            <div class="field">
                <h4 class="label required" th:text="#{boatApplication.ownerShipTitle}">Veneen omistussuhde</h4>
                <div class="control is-flex-direction-row">
                    <div class="radio" th:each="opt : ${ownershipOptions}">
                        <input type="radio" th:field="*{ownerShip}" th:value="${opt}" />
                        <label th:for="${#ids.prev('ownerShip')}"
                                   th:text="#{${'boatApplication.ownershipOption.' + opt}}">Owner</label>
                    </div>
                </div>
                <span class="help is-danger" th:if="${#fields.hasErrors('ownerShip')}" th:errors="*{ownerShip}">Ownership info required</span>
            </div>
             </div>
<div>
            <h3 class="header" th:text="#{boatApplication.personalInformation}">Vuokraaja</h3>
            <div class="field">
                <p th:text="|${user.firstName} ${user.lastName}|">Testi Testaaja</p>
                <p th:text="${user.nationalId}">030594-6943</p>
                <p th:text="${user.address}">Kenttätie 5B 34</p>
                <p th:text="|${user.postalCode} ${user.municipality}|">02501 Espoo</p>
            </div>
                <div class="field">
                    <label th:for="email" class="label required" th:text="#{boatApplication.email}">Sähköposti</label>
                    <div class="control">
                        <input class="input" type="text" th:placeholder="#{boatApplication.email}" data-required  th:field="*{email}"/>
                    </div>
                    <span class="help is-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email required</span>
                </div>
                <div class="field">
                    <label th:for="phone" class="label required" th:text="#{boatApplication.phone}">Puhelinnumero</label>
                    <div class="control">
                        <input  class="input" type="text" th:placeholder="#{boatApplication.phone}" data-required th:field="*{phone}"/>
                    </div>
                    <span class="help is-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone number required</span>
                </div>
</div>


            <div>
                <label class="checkbox justify-content-space-between">
                    <input type="checkbox"  data-required th:field="*{certifyInformation}">
                    <span th:text="#{boatApplication.certifyInfoCheckbox}">Vakuutan antamani tiedot oikeiksi.</span>
                </label>
                <span class="help is-danger" th:if="${#fields.hasErrors('certifyInformation')}" th:errors="*{certifyInformation}">Certification required</span>

                <label class="checkbox">
                    <input type="checkbox" data-required th:field="*{agreeToRules}"/>
                    <span th:text="#{boatApplication.agreementCheckbox}">Olen lukenut venesatamasäännöt ja sitoudun noudattamaan niitä. Varaus korvaa venesatamasäännöissä mainitun vuokrasopimuksen.</span>
                </label>
                <span class="help is-danger" th:if="${#fields.hasErrors('agreeToRules')}" th:errors="*{agreeToRules}">Agreement required</span>
            </div>

            <div class="field">
                <div class="control">
                    <button id="cancel" class="button is-secondary" type="cancel"
                            th:text="#{boatApplication.cancelReservation}">
                        Peruuta varaus
                    </button>
                    <button id="submit" class="button is-primary" type="submit"
                            th:text="#{boatApplication.continueToPaymentButton}">
                        Lähetä hakemus
                    </button>
                </div>
            </div>

        </form>
    </div>
</section>

</body>
</html>
