<!-- SPDX-FileCopyrightText: 2023-2024 City of Espoo -->
<!-- -->
<!-- SPDX-License-Identifier: LGPL-2.1-or-later -->

<html layout:decorate="~{layout}">
<head>
    <title th:text="#{boatApplication.applyForBoatSpace}"></title>
    <style>
        .validation-message {
            display: none;
        }
    </style>
</head>
<body layout:fragment="body">
<section class="section">
    <div class="container">
        <form id="form" action="/kuntalainen/venepaikkahakemus" method="post" novalidate x-data="{ownerShip: ''}">
        <h3 class="header" th:text="#{boatApplication.boatSpaceToApply}">Varattava paikka</h3>
        <div>
            <p><span th:text="${boatSpace.harbor}"></span></p>
            <p th:text="#{boatApplication.boatSpaceSection} + ' '+  ${boatSpace.section}"></p>
            <p th:text="${boatSpace.widthInMeters} + ' m x ' + ${boatSpace.lengthInMeters} + ' m'"></p>
            <p th:text="#{${'boatSpaces.' + (boatSpace.amenity.toString()[0].toLowerCase() + boatSpace.amenity.toString().substring(1))}}"></p>
            <p th:text="#{boatApplication.boatSpacePrice} + ' ' + ${boatSpace.price}">Hinta</p>
        </div>
            

            <h4 class="label" th:text="#{boatApplication.ownerShipTitle}">Veneen omistussuhde</h4>
            <div class="control is-flex-direction-row" >
                <div class="radio">
                    <input type="radio" id="owner" name="ownerShip" value="owner" x-model="ownerShip">
                    <label for="owner">Olen veneen omistaja</label>
                </div>
                <div class="radio">
                    <input type="radio" id="user" name="ownerShip" value="user" x-model="ownerShip">
                    <label for="user">Olen veneen haltija</label>
                </div>
                <div class="radio">
                    <input type="radio" id="coOwner" name="ownerShip" value="coOwner" x-model="ownerShip">
                    <label for="coOwner">Yhteisomistajuus</label>
                </div>
                <div class="radio">
                    <input type="radio" id="futureOwner" name="ownerShip" value="futureOwner" x-model="ownerShip">
                    <label for="futureOwner">Olen ostamassa veneen</label>
                </div>
            </div>
            <h4 class="label" th:text="#{boatApplication.boatInformation}">Veneen tiedot</h4>
            <div>
                <p th:text="#{${'boatApplication.' + (boat.type.toString()[0].toLowerCase() + boat.type.toString().substring(1))}}">Tyyppi</p>

                <div>
                    <p th:text="#{boatApplication.boatWidthInMeters} +': ' +${boat.widthInMeters}">Leveys:</p>
                    <p th:text="#{boatApplication.boatLengthInMeters}  +': ' +${boat.lengthInMeters}">Pituus:</p>
                    <p th:text="#{boatApplication.boatDepthInMeters}  +': '+${boat.depthInMeters}">Syväys:</p>
                    <p th:text="#{boatApplication.boatWeightInKg}  +': ' +${boat.weightInKg}">Paino:</p>
                </div>
                <span class="validation-message help is-danger" th:text="#{validation.required}"
                      id="boatType-error"></span>
            </div>
            <div x-show="ownerShip !== 'futureOwner'">
            <div class="field">
                <label for="boatRegistrationCode" class="label" th:text="#{boatApplication.registrationCode}">Rekisteritunnus</label>
                <div class="control">
                    <input id="boatRegistrationCode" class="input" type="text" name="boatRegistrationCode"
                    data-required />
                </div>
                <span class="validation-message help is-danger" th:text="#{validation.required}"
                      id="boatRegistrationCode-error"></span>
            </div>
            <div class="field">
                <label for="boatName" class="label" th:text="#{boatApplication.boatName}">Veneen nimi</label>
                <div class="control">
                    <input id="boatName" class="input" type="text" name="boatName" data-required />
                </div>
                <span class="validation-message help is-danger" th:text="#{validation.required}"
                      id="boatName-error"></span>
            </div>
            </div>
            
                <h4 class="label"th:text="#{boatApplication.personalInformation}">Vuokraaja</h4>
            <div>
                <p th:text="${user.name}">Testi Testaaja</p>
                <p th:text="${user.ssn}">Testi Testaaja</p>
                <p th:text="${user.address}">Testi Testaaja</p>
            </div>

            
            <div>
                <label for="extraInformation" th:text="#{boatApplication.extraInformation}">Lisätiedot</label>
                <textarea class="textarea" rows="1" name="extraInformation" id="extraInformation" th:placeholder="#{boatApplication.extraInformationPlaceHolder}"></textarea>
            </div>
            
            <div>
            <label class="checkbox justify-content-space-between">
                <input type="checkbox" >
                <span th:text="#{boatApplication.certifyInfoCheckbox}">Vakuutan antamani tiedot oikeiksi.</span>
            </label>

            <label class="checkbox">
                <input type="checkbox" />
                <span th:text="#{boatApplication.agreementCheckbox}">Olen lukenut venesatamasäännöt ja sitoudun noudattamaan niitä. Varaus korvaa venesatamasäännöissä mainitun vuokrasopimuksen.</span>
            </label>
            </div>
            
            <div class="field">
                <div class="control">
                    <button id="submit" class="button is-primary" type="submit"
                            th:text="#{boatApplication.continueToPaymentButton}">
                        Lähetä hakemus
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
<script src="/validation.js"></script>
<script>
    validation.init({forms: ['form']});
</script>
</body>
</html>
