<html layout:decorate="~{layout}">
<head>
    <title>Vekkuli - Venepaikat</title>
</head>
<body layout:fragment="body">
   <div class="section">
       <div class="block reservation-list-header">
           <div class="control has-icons-left">
               <input class="input" type="text" />
               <span class="icon is-small is-left">
                   <div th:replace="~{fragments/icons :: search}"></div>
               </span>
           </div>
           <div class="add-reservation">
               <span class="icon is-large">
                   <div th:replace="~{fragments/icons :: plus-round}"></div>
               </span>
               <span class="label">Luo varaus</span>
           </div>
       </div>
        <div class="block">
            <h1 class="label" th:text="#{boatSpaceReservation.title.harbor}">Satama</h1>
            <div class="tag-container">
                <a th:each="harbor : ${harbors}" th:class="'button is-rounded is-primary ' + ${params.hasHarbor(harbor.id) ? '' : 'is-outlined'}" th:id="'harbor-' + ${harbor.id}" th:href="@{'/virkailija/venepaikat/varaukset' + ${params.toggleHarbor(harbor.id)}}">
                    <span class="icon is-small" th:if="${params.hasHarbor(harbor.id)}">
                      <div th:replace="~{fragments/icons :: check}"></div>
                    </span>
                    <span th:text="${harbor.name}">Haukilahti</span>
                </a>
            </div>
        </div>
        <div class="block">
            <h1 class="label" th:text="#{boatSpaceReservation.title.amenity}">Paikan varuste</h1>
            <div class="tag-container">
                <a th:each="amenity : ${amenities}" th:class="'button is-rounded is-primary ' + ${params.hasAmenity(amenity) ? '' : 'is-outlined'}" th:id="'amenity-' + ${amenity.toString()}" th:href="@{'/virkailija/venepaikat/varaukset' + ${params.toggleAmenity(amenity)}}">
                    <span class="icon is-small" style="stroke: white" th:if="${params.hasAmenity(amenity)}">
                      <div th:replace="~{fragments/icons :: check}"></div>
                    </span>
                    <span th:text="#{${'boatSpaces.amenityOption.' + amenity}}">Buoy</span>
                </a>
            </div>
        </div>

        <div class="reservation-list block">
            <table>
                    <thead>
                    <tr>
                        <th><span th:text="#{boatSpaceReservation.title.harbor}">Satama</span></th>
                        <th><span th:text="#{boatSpaceReservation.title.place}">Paikka</span>
                            <a th:href="@{'/virkailija/venepaikat/varaukset' + ${params.toggleSort('PLACE')}}">
                                <div th:replace="~{fragments/icons :: sort(dir=${params.getSortForColumn('PLACE')})}"></div>
                            </a>
                        </th>
                        <th><span th:text="#{boatSpaceReservation.title.type}">Paikan tyyppi</span></th>
                        <th><span th:text="#{boatSpaceReservation.title.subject}">Varaaja</span>
                            <a th:href="@{'/virkailija/venepaikat/varaukset' + ${params.toggleSort('CUSTOMER')}}">
                                <div th:replace="~{fragments/icons :: sort(dir=${params.getSortForColumn('CUSTOMER')})}"></div>
                            </a>
                        </th>
                        <th><span th:text="#{boatSpaceReservation.title.homeTown}">Kotikunta</span></th>
                        <th><span th:text="#{boatSpaceReservation.title.boat}">Vene</span></th>
                        <th><span th:text="#{boatSpaceReservation.title.payment}">Maksu</span></th>
                        <th><span  th:text="#{boatSpaceReservation.title.startDate}">Varaus tehty</span></span>
                            <a th:href="@{'/virkailija/venepaikat/varaukset' + ${params.toggleSort('START_DATE')}}">
                              <div th:replace="~{fragments/icons :: sort(dir=${params.getSortForColumn('START_DATE')})}"></div>
                            </a>
                        </th>
                        <th><span th:text="#{boatSpaceReservation.title.endDate}">Varaus päättyy</span>
                            <a th:href="@{'/virkailija/venepaikat/varaukset' + ${params.toggleSort('END_DATE')}}">
                                <div th:replace="~{fragments/icons :: sort(dir=${params.getSortForColumn('END_DATE')})}"></div>
                            </a>
                        </th>
                        <th><span th:text="#{boatSpaceReservation.title.ownership}">Omistussuhde</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="reservation-item" th:id="'boat-space-' + ${result.boatSpaceId}" th:each="result : ${reservations}">
                        <td th:text="${result.locationName}">Kivenlahti</td>
                        <td th:text="${result.place}">A135</td>
                        <td th:text="#{${'boatSpaces.type' + result.type + 'Option'}}">Laituripaikka</td>
                        <td><a href="#"><span th:text="${result.firstName}">Veikko</span><br/><span th:text="${result.lastName}">Veneilijä</span></a></td>
                        <td th:text="${result.homeTown}">Espoo</td>
                        <td th:text="${result.boatRegistrationCode}">P567123</td>
                        <td><!-- TODO payment date and warning --></td>
                        <td th:text="${#temporals.format(result.startDate, 'yyyy-MM-dd HH:mm')}">03.06.2024 14:56</td>
                        <td th:text="${#temporals.format(result.endDate, 'yyyy-MM-dd HH:mm')}">01.02.2025</td>
                        <td class="has-text-centered">
                        <div class="is-flex is-align-items-center is-justify-content-center">
                            <p th:text="#{${'boatApplication.ownershipOption.' + result.boatOwnership}}">Omistaja</p>
                            <span class="icon ml-s" >
                                <div th:if="${result.showOwnershipWarning}">
                                <div th:replace="~{fragments/icons :: warning-exclamation}"></div>
                                    </div>
                            </span>
                        </div>
                    </td>

                    </tr>
                </tbody>
            </table>
        </div>
   </div>
</body>
</html>
