<!-- SPDX-FileCopyrightText: 2023-2024 City of Espoo -->
<!-- -->
<!-- SPDX-License-Identifier: LGPL-2.1-or-later -->

<html layout:decorate="~{layout}">
<head>
    <title>Vekkuli - Venepaikat</title>
</head>
<body layout:fragment="body">
<section class="section">
    <div class="container">
        <h1 class="title" th:text="#{boatSpaces.title}"></h1>
        <div class="box">
            <form id="form" action="/virkailija/venepaikat" method="get" hx-trigger="input delay:1s, change"
                  hx-get="/virkailija/partial/venepaikat" hx-target="#boatSlipTableDiv" hx-swap="innerHTML">
                <div class="columns">
                    <div class="column">
                        <div class="field"><label class="label" for="width" th:text="#{boatSpaces.widthHeader}"></label>
                            <div class="control">
                                <input type="number" name="width" class="input" id="width" style="width: 100px"
                                       th:value="${width}"></div>
                        </div>
                        <div class="field"><label class="label" for="length"
                                                  th:text="#{boatSpaces.lengthHeader}"></label>
                            <div class="control"><input type="number" name="length" class="input" id="length"
                                                        style="width: 100px" th:value="${length}"></div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field"><label class="label" for="amenity"
                                                  th:text="#{boatSpaces.amenityHeader}"></label>
                            <div class="select">
                                <select name="amenity" id="amenity">
                                    <option value="" th:selected="${amenity} == null"
                                            th:text="#{boatSpaces.noneOption}"></option>
                                    <option
                                            th:each="option : ${amenities}"
                                            th:value="${option}"
                                            th:text="#{${'boatSpaces.' + (option[0].toLowerCase() + option.substring(1))}}"
                                            th:selected="${option} == ${amenity}"></option>
                                </select></div>
                        </div>
                        <div class="field"><label class="label" for="locationId"
                                                  th:text="#{boatSpaces.harborHeader}"></label>
                            <div class="select">
                                <select name="locationId" id="locationId">
                                    <option value="" th:selected="${locationId} == null"
                                            th:text="#{boatSpaces.noneOption}"></option>
                                    <option th:each="location : ${locations}"
                                            th:value="${location.id}"
                                            th:text="${location.name}"
                                            th:selected="${location.id} == ${locationId}"></option>
                                </select></div>
                        </div>
                        <div class="field"><label class="label" for="boatSpaceType" th:text="#{boatSpaces.typeHeader}">Paikan
                            tyyppi</label>
                            <div class="select"><select name="boatSpaceType" id="boatSpaceType">
                                <option value="" selected="selected" th:text="#{boatSpaces.noneOption}"></option>
                                <option value="Slip" th:text="#{boatSpaces.typeSlipOption}"></option>
                                <option value="Storage" th:text="#{boatSpaces.typeStorageOption}"></option>
                                <option value="Trailer" th:text="#{boatSpaces.typeTrailerOption}"></option>
                            </select></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="boatSlipTableDiv" th:insert="boat-space-table">

        </div>
    </div>
</section>
</body>
</html>
