<!-- SPDX-FileCopyrightText: 2023-2024 City of Espoo -->
<!-- -->
<!-- SPDX-License-Identifier: LGPL-2.1-or-later -->

<!DOCTYPE html>
<html class="theme-light" >
<head>
    <title th:text="#{boatApplication.applyForBoatSpace}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script th:inline="javascript">
        function handleBoatSpaceTypeChange() {
            const selectedValue = document.getElementById('boatSpaceType').value;
            const trailerSpaceComponent = document.getElementById('trailerSpaceComponent');

            if (selectedValue === 'trailerSpace') {
                trailerSpaceComponent.style.display = 'block';
            } else {
                trailerSpaceComponent.style.display = 'none';
            }
        }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .validation-message {
            display: none;
        }
    </style>
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title" th:text="#{boatApplication.applyForBoatSpace}">Hae venepaikkaa</h1>
        <form id="form" action="/venepaikkahakemus" method="post" novalidate>
            <div class="field">
                <label for="boatSpaceType" class="label" th:text="#{boatApplication.boatSpaceType}">Venepaikkatyyppi</label>
                <div class="select">
                    <select name="boatSpaceType" id="boatSpaceType" onchange="handleBoatSpaceTypeChange()" data-required>
                        <option value="" th:text="#{boatApplication.selectBoatSpaceType}">Valitse venepaikkatyyppi
                       </option>
                        <option th:value="trailerSpace"
                                th:text="#{boatApplication.trailerSpace}"></option>
                        <option th:value="harborSpace"
                                th:text="#{boatApplication.harborSpace}"></option>
                    </select>
                </div>
                <span class="validation-message help is-danger" th:text="#{validation.required}" id="boatSpaceType-error"></span>
            </div>
            <div class="field">
                <label class="label" for="amenity" th:text="#{boatSpaces.amenityHeader}"></label>
                <div class="select">
                    <select name="amenity" id="amenity" data-required>
                        <option value="" th:text="#{boatSpaces.noneOption}"></option>
                        <option
                                th:each="option : ${amenities}"
                                th:value="${option}"
                                th:text="#{${'boatSpaces.' + (option[0].toLowerCase() + option.substring(1))}}"></option>
                    </select>
                </div>
                <span class="validation-message help is-danger" th:text="#{validation.required}" id="amenity-error"></span>
            </div>
            <h2 class="subtitle" th:text="#{boatApplication.personalInformation}">Henkilötiedot</h2>
            <div class="field">
                <label for="name" class="label" th:text="#{boatApplication.name}">Nimi</label>
                <div class="control">
                    <input id="name" class="input" type="text" name="name" data-required/>
                </div>
                <span class="validation-message help is-danger" th:text="#{validation.required}" id="name-error"></span>
            </div>
            <div class="field">
                <label for="email" class="label" th:text="#{boatApplication.email}">Sähköposti</label>
                <div class="control">
                    <input id="email" class="input" type="email" name="email" data-required data-pattern=".+@.+"/>
                </div>
                <span class="validation-message help is-danger" th:text="#{validation.required}" id="email-error"></span>
                <span class="validation-message help is-danger" th:text="#{validation.email}" id="email-pattern-error"></span>
            </div>
            <div class="field">
                <label for="phone" class="label" th:text="#{boatApplication.phone}">Puhelinnumero</label>
                <div class="control">
                    <input id="phone" class="input" type="tel" name="phone" data-required/>
                    <span class="validation-message help is-danger" th:text="#{validation.required}" id="phone-error"></span>
                </div>
            </div>

            <div id="trailerSpaceComponent" style="display: none;">
                <h2 class="subtitle" th:text="#{boatApplication.trailerInformation}">Trailerin tiedot</h2>
                <div class="field">
                    <label class="label" th:text="#{boatApplication.registrationCode}">Rekisteritunnus</label>
                    <div class="control">
                        <input class="input" type="text" name="trailerRegistrationCode" required/>
                    </div>
                </div>
                <div class="field">
                    <label class="label" th:text="#{boatApplication.trailerLengthInMeters}">Trailerin pituus (m)</label>
                    <div class="control">
                        <input class="input" type="number" name="trailerLengthInMeters" step="0.1" required/>
                    </div>
                </div>
                <div class="field">
                    <label class="label" th:text="#{boatApplication.trailerWidthInMeters}">Trailerin leveys (m)</label>
                    <div class="control">
                        <input class="input" type="number" name="trailerWidthInMeters" step="0.1" required/>
                    </div>
                </div>
            </div>

            <h2 class="subtitle" th:text="#{boatApplication.boatInformation}">Veneen tiedot</h2>
            <div class="field">
                <label for="boatType" class="label" th:text="#{boatApplication.boatType}">Venetyyppi</label>
                <div class="select">
                    <select id="boatType" name="boatType" data-required>
                        <option value="" th:text="#{boatApplication.selectBoatType}">Valitse venetyyppi</option>
                        <option th:each="boatType : ${boatTypes}" th:value="${boatType}"
                                th:text="#{${'boatApplication.' + (boatType[0].toLowerCase() + boatType.substring(1))}}"></option>
                    </select>
                </div>
                <span class="validation-message help is-danger" th:text="#{validation.required}" id="boatType-error"></span>
            </div>
            <div class="field">
                <label for="boatName" class="label" th:text="#{boatApplication.boatName}">Veneen nimi</label>
                <div class="control">
                    <input id="boatName" class="input" type="text" name="boatName" data-required/>
                </div>
                <span class="validation-message help is-danger" th:text="#{validation.required}" id="boatName-error"></span>
            </div>
            <div class="field">
                <label for="registrationCode" class="label" th:text="#{boatApplication.registrationCode}">Rekisteritunnus</label>
                <div class="control">
                    <input id="registrationCode" class="input" type="text" name="registrationCode" data-required/>
                </div>
                <span class="validation-message help is-danger" th:text="#{validation.required}" id="registrationCode-error"></span>
            </div>
            <div class="field">
                <label for="length" class="label" th:text="#{boatApplication.boatLengthInMeters}">Pituus (m)</label>
                <div class="control">
                    <input id="length" class="input" type="number" name="lengthInMeters" step="0.1" data-required/>
                </div>

                <span class="validation-message help is-danger" th:text="#{validation.required}" id="length-error"></span>
            </div>
            <div class="field">
                <label for="width" class="label" th:text="#{boatApplication.boatWidthInMeters}">Leveys (m)</label>
                <div class="control">
                    <input id="width" class="input" type="number" name="widthInMeters" step="0.1" data-required/>
                </div>
                <span class="validation-message help is-danger" th:text="#{validation.required}" id="width-error"></span>
            </div>
            <div class="field">
                <label for="weight" class="label" th:text="#{boatApplication.weightInKg}">Paino (kg)</label>
                <div class="control">
                    <input id="weight" class="input" type="number" name="weightInKg" data-required/>
                </div>
                <span class="validation-message help is-danger" th:text="#{validation.required}" id="weight-error"></span>
            </div>
            <h2 class="subtitle" th:text="#{boatApplication.harborPreferences}">Satamatoiveet</h2>
            <div th:replace="~{fragments/harbor-options :: harborOptions}"></div>
            <br/>
            <div>
                <label for="extraInformation" th:text="#{boatApplication.extraInformation}">Lisätiedot</label>
                <textarea class="textarea" name="extraInformation" id="extraInformation"> </textarea>
            </div>
            <br/>

            <div class="field">
                <div class="control">
                    <button id="submit" class="button is-primary" type="submit" th:text="#{boatApplication.submitApplication}">
                        Lähetä hakemus
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
<script src="/validation.js"></script>
<script>
    validation.init({forms: ['form']});
</script>
</body>
</html>
