<table class="table is-fullwidth is-striped is-hoverable " id="boatSlipTable">
    <thead>
    <tr>
        <th>Satama</th>
        <th>Paikan tyyppi</th>
        <th>Laituri</th>
        <th>Paikkanumero</th>
        <th>Varustus</th>
        <th>Leveys (m)</th>
        <th>Pituus (m)</th>
        <th>Kuvaus</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="result : ${results}">
        <td th:text="${result.locationName}"></td>
        <td th:text="${result.type}"></td>
        <td th:text="${result.section}"></td>
        <td th:text="${result.placeNumber}"></td>
        <td th:text="${result.amenity}"></td>
        <td th:text="${result.widthCm / 100}"></td>
        <td th:text="${result.lengthCm / 100}"></td>
        <td th:text="${result.description}"></td>
    </tr>

    </tbody>
</table>
<nav class="pagination is-centered ">
    <a th:if="${prevPageVal != null}" class="pagination-previous"
        hx-get="/partial/venepaikat"
        hx-target="#boatSlipTableDiv"
        hx-swap="innerHTML"
        hx-include="#form"
        th:attr="hx-vals=${prevPageVal}">Edellinen</a>
    <a th:if="${prevPageVal == null}" class="pagination-previous is-disabled">Edellinen</a>

    <span th:text="${currentPage}" class="pagination-list"></span>

    <a class="pagination-next "
       th:if="${nextPageVal != null}"
       hx-get="/partial/venepaikat"
       hx-target="#boatSlipTableDiv"
       hx-swap="innerHTML"
       hx-include="#form"
       th:attr="hx-vals=${nextPageVal}">
        Seuraava</a>
    <a th:if="${nextPageVal == null}" class="pagination-next is-disabled">Seuraava</a>
</nav>