<!-- SPDX-FileCopyrightText: 2023-2024 City of Espoo -->
<!-- -->
<!-- SPDX-License-Identifier: LGPL-2.1-or-later -->

<html layout:decorate="~{layout}">
<head>
    <title th:text="#{boatApplication.applyForBoatSpace}"></title>
    <script th:inline="javascript">
        function handleBoatSpaceTypeChange() {
            const selectedValue = document.getElementById('boatSpaceType').value;
            const trailerSpaceComponent = document.getElementById('trailerSpaceComponent');
            const trailerRegistrationCode = document.getElementById('trailerRegistrationCode');
            const trailerLengthInMeters = document.getElementById('trailerLengthInMeters');
            const trailerWidthInMeters = document.getElementById('trailerWidthInMeters');

            if (selectedValue === 'Trailer') {
                trailerSpaceComponent.style.display = 'block';
                trailerRegistrationCode.removeAttribute('disabled');
                trailerLengthInMeters.removeAttribute('disabled');
                trailerWidthInMeters.removeAttribute('disabled');
            } else {
                trailerSpaceComponent.style.display = 'none';
                trailerRegistrationCode.setAttribute('disabled', 'disabled');
                trailerLengthInMeters.setAttribute('disabled', 'disabled');
                trailerWidthInMeters.setAttribute('disabled', 'disabled');
            }
        }
    </script>
    <style>
        .validation-message {
            display: none;
        }
    </style>
</head>
<body layout:fragment="body">
<section class="section">
    <div class="container">
        <form id="form" action="/kuntalainen/venepaikkahakemus" method="post" novalidate>

        <h1 class="title" th:text="#{boatApplication.boatSpaceToApply}">Varattava paikka</h1>
        <div>
            <p><span th:text="${boatSpace.harbor}"></span></p>
            <p> <span th:text="${boatSpace.type}"></span></p>
            <p th:text="#{boatApplication.boatSpaceSection}">Laituri<span th:text="${boatSpace.section}"></span></p>
            <p th:text="${boatSpace.widthInMeters} + ' m x ' + ${boatSpace.lengthInMeters} + ' m'"></p>
            <p th:text="#{boatApplication.boatSpaceAmenity}"><span th:text="${boatSpace.amenity}"></span></p>
            <p th:text="#{boatApplication.boatSpacePrice}">Hinta<span th:text="${boatSpace.price}"></span></p>

            <p th:text="#{boatApplication.description}">Description: <span th:text="${boatSpace.description}"></span></p>
        </div>

            <h2 class="subtitle" th:text="#{boatApplication.boatInformation}">Veneen tiedot</h2>
            <div class="field">
                <p th:text="#{boatApplication.boatType}">Tyyppi<span th:text="${boat.type}"></span></p>

                <div>
                    <p th:text="#{boatApplication.boatSize}">Koko:
                    <p th:text="#{boatApplication.boatWidthInMeters}">Leveys:<span th:text="${boat.widthInMeters}"></span></p></p>
                    <p th:text="#{boatApplication.boatLengthInMeters}">Pituus:<span th:text="${boat.lengthInMeters}"></span></p>
                </div>
                <span class="validation-message help is-danger" th:text="#{validation.required}"
                      id="boatType-error"></span>
            </div>
            <div class="field">
                <label for="boatName" class="label" th:text="#{boatApplication.boatName}">Veneen nimi</label>
                <div class="control">
                    <input id="boatName" class="input" type="text" name="boatName" data-required />
                </div>
                <span class="validation-message help is-danger" th:text="#{validation.required}"
                      id="boatName-error"></span>
            </div>
            <div class="field">
                <label for="boatRegistrationCode" class="label" th:text="#{boatApplication.registrationCode}">Rekisteritunnus</label>
                <div class="control">
                    <input id="boatRegistrationCode" class="input" type="text" name="boatRegistrationCode"
                           data-required />
                </div>
                <span class="validation-message help is-danger" th:text="#{validation.required}"
                      id="boatRegistrationCode-error"></span>
            </div>
            <h1 class="title" th:text="#{boatApplication.ownerShipTitle}">Veneen omistussuhde</h1>
            <div class="field">
                <input type="radio" id="owner" name="ownerShip" value="owner">
                <label for="owner">Olen veneen omistaja</label><br>
                <input type="radio" id="user" name="ownerShip" value="user">
                <label for="user">Olen veneen haltija</label><br>
                <input type="radio" id="coOwner" name="ownerShip" value="coOwner">
                <label for="coOwner">Yhteisomistajuus</label>
                <input type="radio" id="futureOwner" name="ownerShip" value="futureOwner">
                <label for="futureOwner">Olen ostamassa veneen</label>
            </div>
            <br />
            <h1 class="title" th:text="#{boatApplication.personalInformation}">Vuokraaja</h1>
            <div class="field">
                <p th:text="${user.name}">Testi Testaaja</p>
                <p th:text="${user.ssn}">Testi Testaaja</p>
                <p th:text="${user.address}">Testi Testaaja</p>
            </div>
            <div class="field">
                <label for="email" class="label" th:text="#{boatApplication.email}">Sähköposti</label>
                <div class="control">
                    <input id="email" class="input" type="email" name="email" data-required data-pattern=".+@.+" />
                </div>
                <span class="validation-message help is-danger" th:text="#{validation.required}"
                      id="email-error"></span>
                <span class="validation-message help is-danger" th:text="#{validation.email}"
                      id="email-pattern-error"></span>
            </div>
            <div class="field">
                <label for="phone" class="label" th:text="#{boatApplication.phone}">Puhelinnumero</label>
                <div class="control">
                    <input id="phone" class="input" type="tel" name="phone" data-required />
                </div>
                <span class="validation-message help is-danger" th:text="#{validation.required}"
                      id="phone-error"></span>
            </div>
            <br/>
            <div>
                <label for="extraInformation" th:text="#{boatApplication.extraInformation}">Lisätiedot</label>
                <textarea class="textarea" name="extraInformation" id="extraInformation"> </textarea>
            </div>

            <div class="field">
                <div class="control">
                    <button id="submit" class="button is-primary" type="submit"
                            th:text="#{boatApplication.submitApplication}">
                        Lähetä hakemus
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
<script src="/validation.js"></script>
<script>
    validation.init({forms: ['form']});
</script>
</body>
</html>
