<!-- SPDX-FileCopyrightText: 2023-2024 City of Espoo -->
<!-- SPDX-License-Identifier: LGPL-2.1-or-later -->

<table class="table is-fullwidth is-striped is-hoverable " id="boatSlipTable">
    <thead>
    <tr>
        <th th:text="#{boatSpaces.harborHeader}"></th>
        <th th:text="#{boatSpaces.typeHeader}"></th>
        <th th:text="#{boatSpaces.pierHeader}"></th>
        <th th:text="#{boatSpaces.placeNumberHeader}"></th>
        <th th:text="#{boatSpaces.amenityHeader}"></th>
        <th th:text="#{boatSpaces.widthHeader}">
        <th th:text="#{boatSpaces.lengthHeader}"></th>
        <th th:text="#{boatSpaces.descriptionHeader}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="result : ${results}">
        <td th:text="${result.locationName}"></td>
        <td th:text="#{${'boatSpaces.type' + result.type + 'Option'}}"></td>
        <td th:text="${result.section}"></td>
        <td th:text="${result.placeNumber}"></td>
        <td th:text="#{${'boatSpaces.' + (result.amenity.toString()[0].toLowerCase() + result.amenity.toString().substring(1))}}"></td>
        <td th:text="${result.widthCm / 100.0}"></td>
        <td th:text="${result.lengthCm / 100.0}"></td>
        <td th:text="${result.description}"></td>
    </tr>

    </tbody>
</table>
<nav class="pagination is-centered ">
    <a th:if="${prevPageVal != null}" class="pagination-previous"
       hx-get="/partial/venepaikat"
       hx-target="#boatSlipTableDiv"
       hx-swap="innerHTML"
       hx-include="#form"
       th:attr="hx-vals=${prevPageVal}"
       th:text="#{boatSpaces.previous}"></a>
    <a th:if="${prevPageVal == null}" class="pagination-previous is-disabled">Edellinen</a>

    <span th:text="${currentPage}" class="pagination-list"></span>

    <a class="pagination-next "
       th:if="${nextPageVal != null}"
       hx-get="/partial/venepaikat"
       hx-target="#boatSlipTableDiv"
       hx-swap="innerHTML"
       hx-include="#form"
       th:attr="hx-vals=${nextPageVal}"
       th:text="#{boatSpaces.next}">
    </a>
    <a th:if="${nextPageVal == null}" class="pagination-next is-disabled">Seuraava</a>
</nav>
