<html layout:decorate="~{layout}">
<head>
    <title>Vekkuli - Venepaikat</title>
</head>
<body layout:fragment="body">
<section class="section">
    <div th:replace="~{fragments/step-indicator :: stepIndicator(currentStep=1)}"></div>
    <div class="container">
        <h1 class="title" th:text="#{boatApplication.applyForBoatSpace}">Hae venepaikkaa</h1>

        <div class="columns">
            <div class="column is-one-third">

                <form id="form"
                      method="get"
                      action="/kuntalainen/venepaikat"
                      class="block"
                      hx-get="/kuntalainen/partial/vapaat-paikat"
                      hx-target="#boatSpaces"
                      hx-swap="innerHTML"
                      hx-trigger="input delay:1s, change">

                    <h2 class="subtitle" th:text="#{boatApplication.boatInformation}"></h2>

                    <div class="field">
                        <label class="label" for="boatTypeFilter"
                               th:text="#{boatApplication.boatType}"></label>
                        <div class="control">
                            <div class="select">
                                <select name="boatType" id="boatTypeFilter">
                                    <option value=""
                                            th:text="#{boatSpaces.noneOption}"></option>
                                    <option
                                            th:each="option : ${boatTypes}"
                                            th:value="${option}"
                                            th:text="#{${'boatApplication.boatTypeOption.' + option}}"
                                    ></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="field" style="display: inline-block; margin-right: 20px">
                            <label class="label" for="widthFilter" th:text="#{boatSpaces.widthHeader}"></label>
                            <div class="control">
                                <input type="number" name="width" class="input" id="widthFilter" style="width: 100px">
                            </div>
                        </div>

                        <div class="field" style="display: inline-block">
                            <label class="label" for="lengthFilter" th:text="#{boatSpaces.lengthHeader}"></label>
                            <div class="control">
                                <input type="number" name="length" class="input" id="lengthFilter" style="width: 100px">
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Haettava paikka</label>
                        <div class="control">
                            <label class="radio">
                                <input type="radio" id="boatSpaceType-slip" name="boatSpaceType" value="Slip"
                                       th:text="#{boatSpaces.typeSlipOption}" />

                            </label>
                            <label class="radio">
                                <input type="radio" id="boatSpaceType-trailer" name="boatSpaceType" value="Trailer"
                                       th:text="#{boatSpaces.typeTrailerOption}" />

                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" th:text="#{boatSpaces.amenityHeader}"></label>
                        <label th:each="option : ${amenities}" class="checkbox mr-4">
                            <input name="amenities"
                                   th:id="${option[0].toLowerCase() + option.substring(1) + '-checkbox'}"
                                   th:value="${option}"
                                   type="checkbox" />
                            <span th:text="#{${'boatSpaces.amenityOption.' + option}}">>
                        </span>
                        </label>
                    </div>

                    <div class="field">
                        <label class="label" th:text="#{boatSpaces.harborHeader}"></label>
                        <label th:each="option : ${locations}" class="checkbox mr-4">
                            <input name="harbor"
                                   th:id="${option.name[0].toLowerCase() + option.name.substring(1) + '-checkbox'}"
                                   th:value="${option.id}"
                                   type="checkbox" />
                            <span th:text="${option.name}">>
                        </span>
                        </label>
                    </div>
                </form>

            </div>
            <div class="column">

                <div id="boatSpaces" class="block" hx-trigger="load" hx-get="/kuntalainen/partial/vapaat-paikat"
                     hx-swap="innerHTML">
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
