<!-- SPDX-FileCopyrightText: 2023-2024 City of Espoo -->
<!-- -->
<!-- SPDX-License-Identifier: LGPL-2.1-or-later -->

<html layout:decorate="~{layout}">
<head>
    <title>Vekkuli - Kuntalaisen kirjautuminen</title>
</head>
<body>
<section class="section" layout:fragment="content">
    <div class="container">
        <h1 class="title">Vekkuli</h1>
        <div>Kuntalaisen kirjautuminen</div>
        <div th:if="${isAuthenticated == false}"><a id="loginButton" th:text="#{auth.login}" class="button"
                                                    href="/auth/saml-suomifi/login">Login</a></div>
        <div th:if="${isAuthenticated == true}">
            <div><a href="/kuntalainen/venepaikkahakemus">Venepaikkahakemus</a></div>
            <br />
            <a th:text="#{auth.logout}" class="button" href="/auth/saml-suomifi/logout">Logout</a>
        </div>
    </div>
</section>
</body>
</html>
