<!-- SPDX-FileCopyrightText: 2023-2024 City of Espoo -->
<!-- -->
<!-- SPDX-License-Identifier: LGPL-2.1-or-later -->

<html layout:decorate="~{layout}">
<head>
    <title>Vekkuli - Virkailijan kirjautuminen</title>
</head>
<body layout:fragment="body">
<section class="section">
    <div class="container">
        <h1 class="title">Vekkuli</h1>
        <h2 class="subtitle">Virkailijan kirjautuminen</h2>
        <div class="block" th:if="${isAuthenticated == false}">
            <a id="employeeLoginButton" th:text="#{auth.login}" class="button"
               href="/auth/saml/login">Login</a>
        </div>
        <div class="block" th:if="${isAuthenticated == true}">
            <p>Käyttäjä: <strong th:text="${userName}"></strong></p>
            <div><a href="/virkailija/venepaikat/varaukset">Venepaikat</a></div>
            <br />
            <a th:text="#{auth.logout}" class="button" href="/auth/saml/logout">Logout</a>
        </div>
    </div>
</section>
</body>
</html>
