$bulma-primary: #0047B6;
$light-blue: #D9E4F4;
$white: #fff;
$black: #536076;
$grey: #A9B0BB;
$lightGray: #F7F7F7;
$darkGray: #536076;
$warning: #FF8E31;
$error: #FF3D3D;
$spacing-extrasmall: 4px;
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-extralarge: 32px;
$block-spacing: $spacing-medium;
$menu-container-height: 1000px;
$activeColor: #D9E4F4;

@use "bulma/sass" with (
  $primary: $bulma-primary,
  $spacing-shortcuts: ("margin": "m", "padding": "p"),
  $spacing-horizontal: "h",
  $spacing-vertical: "v",
  $spacing-values: ("none": 0, "s": $spacing-small, "m": $spacing-medium,
          "l": $spacing-large, "xl": $spacing-extralarge),
  $icon-text-spacing: $spacing-small,
  $icon-dimensions: $spacing-medium,
  $block-spacing: $block-spacing,
  $box-radius: 0,
  $table-row-hover-background-color: $light-blue,
  $table-head-cell-color: $darkGray,
  $navbar-item-img-max-height: 107px,
  $dropdown-content-radius: 0,
  $dropdown-content-shadow: none,
  $button-padding-vertical: calc($spacing-small * 2),
  $button-padding-horizontal: calc($spacing-small * 4),
  $box-padding: $spacing-extralarge,
  $tabs-boxed-link-active-background-color: $white,
  $tabs-boxed-link-active-border-color: transparent,
  $tabs-link-color: $black,
  $tabs-link-active-color: $black
);

// Custom styles
.input,
.textarea,
.select select {
  padding: $spacing-small $spacing-small;
}

.is-secondary {
  background-color: $white;
  border-color: $bulma-primary;
  color: $bulma-primary;
}

html, body {
  min-height: 100%;
  background: $lightGray;
}

.container {
  background: $white;
  padding: $spacing-large;
}

.section {
  padding-top: $spacing-medium;
}

h2 {
  /* font-family: Lato; */
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: $spacing-large;
}

h3 {
  /* font-family: Lato; */
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: $spacing-large;
}

.label {
  /* font-family: Work Sans; */
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.textarea {
  resize: none;
}

.textarea,
.input {
  border: none;
  border-bottom: 2px solid $black;
  border-radius: 0;
  box-shadow: none;
  min-width: auto;
}

.input.compact, .textarea.compact {
  width: 250px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: transparent;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 10px;
  left: 10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
}

.radio {
  display: flex;
  gap: $spacing-small;
  align-items: center;
  margin-inline-start: 0px !important;
  margin-bottom: $spacing-small;
}

.radio > label {
  cursor: pointer;
}

input[type="radio"] {
  appearance: none;
  background-color: $white;
  width: 36px;
  height: 36px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: inline-grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 16px;
  height: 16px;
  transform: scale(0);
  transform-origin: bottom left;
  background-color: $white;
  clip-path: polygon(13% 50%, 34% 66%, 81% 2%, 100% 18%, 39% 100%, 0 71%);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:checked {
  background-color: $bulma-primary;
  border: 2px solid $bulma-primary;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-small;
}

.checkbox input[type="checkbox"] {
  width: 36px;
  height: 36px;
  accent-color: $bulma-primary;
  border-radius: 4px;
}

.checkbox span {
  flex: 1;
}

.required::after {
  content: ' *';
  margin-left: $spacing-extrasmall;
}


#step-indicator .step {
  border-radius: 5px;
  height: $spacing-small;
  background-color: $grey;
}

#step-indicator .step.visited {
  background-color: $bulma-primary;
}

#step-indicator p {
  color: $black;
}

.icon-text {
  color: $bulma-primary;
}

.warning, .error {
  padding: 16px;
  gap: 64px;
  border-radius: 4px;
}

.warning {
  border: 1px solid $warning;
}

.error {
  border: 1px solid $error;
}


.field.is-grouped.is-grouped-no-spacing-v {
  gap: 0;
  column-gap: 0;
  row-gap: $block-spacing/2;
}

.select {
  width: 80%;
}

.select select {
  width: 100%;
}

form .block:not(:last-child),
form .subtitle:not(:last-child) {
  margin-bottom: $block-spacing*2;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal > .modal-underlay {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal > .modal-content {
  margin-top: 10vh;
  width: 80%;
  max-width: 600px;

  border: solid 1px #999;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  background-color: white;
  padding: 20px 60px;
}


.reservation-info {
  padding: $spacing-medium;
  border: 1px solid $bulma-primary;
  border-radius: 4px;
  display: flex;
  margin-bottom: $spacing-large;


  .info-icon {
    flex: 1;
  }

  .info-content {
    flex: 1;
    margin-left: $spacing-medium;
  }
}

.ack-info {
  padding: $spacing-medium;
  border: 1px solid $warning;
  border-radius: 4px;
  display: flex;
  margin-bottom: $spacing-large;

  .info-icon {
    flex: 1;
  }

  .info-content {
    flex: 1;
    margin-left: $spacing-medium;
  }
}

.reservation-list {
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }

  th, td {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: $spacing-small;
    vertical-align: middle;
  }

  th {
    text-transform: uppercase;
    font-weight: normal;
  }

  th a {
    text-decoration: none;
    color: $darkGray;
  }
}

.reservation-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing-large;

  .add-reservation {
    display: flex;
    align-items: center;
    gap: $spacing-small;
  }

  .label {
    color: $bulma-primary;
  }

  .search-input {
    background-color: $lightGray;
    border: none;
    width: 564px;
  }
}

.reservation-item {
  cursor: pointer;
}

.tag-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-small;
  justify-content: flex-start;

  .icon {
    stroke: $white;
  }
}

.dropdown-content {
  border: 1px solid #A9B0BB;
  border-top: 0;
  padding-left: $spacing-extralarge;
  padding-right: $spacing-extralarge;
}

.dropdown-item {
  color: $bulma-primary;
}

.dropdown-item:hover {
  background: $white;
}

.menu {
  width: 280px;
  font-weight: 700;
  text-transform: uppercase;
}

.menu-container {
  height: $menu-container-height;
  overflow-y: auto;
}

.menu-label {
  font-size: 1em;
  color: $black;
}

a.active {
  background: $activeColor;
}

.login-link {
  text-transform: none;
  font-weight: 600;
}

.logout-icon {
  vertical-align: text-bottom;
}

.payment-form,
.payment-form button {
  width: 100%;
  height: 100%;
}

.payment-form button {
  box-shadow: none;
  border: 0;
}

#reservation-confirmation-container {
  min-width: 500px;
  width: 50%;
}

.reservation-list {
  display: flex;
  flex-direction: column;
  gap: $spacing-large;
  padding-bottom: $spacing-extralarge;
  margin-bottom: $spacing-extralarge;
  border-bottom: solid 1px $grey;
}

.reservation-list:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.reservation-card {
  position: relative;
  padding-left: $spacing-large;
}

.reservation-card::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: -$spacing-extralarge; // to cover the border
  width: $spacing-small;
  background-color: $grey;
  border-radius: $spacing-small;
}

.reservation-card:last-child::before {
  bottom: 0;
}

.container-tabs {
  @extend .container;
  background-color: transparent;
  padding: 0;
  margin-bottom: 0 !important;
}

.secondary-tabs.tabs.is-boxed {
  width: fit-content;
}

.secondary-tabs.tabs.is-boxed ul {
  border-bottom: none;
  background-color: $lightGray;
}

.tabs.is-boxed ul li a {
  border-radius: 0;
  padding: $spacing-small $spacing-large;
}

.secondary-tabs.tabs.is-boxed ul li.is-active a {
  margin: $spacing-extrasmall;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

}

label.filter-button {
  color: $bulma-primary;
  display: inline-block;
  padding: 7px 12px 7px 12px;
  outline: 1px solid $bulma-primary;
  border-radius: 40px;
  cursor: pointer;
  gap: 10px;
  font-size: 15px;
}

label.filter-button:has(input:checked) {
  color: $white;
  background: $bulma-primary;
  outline: 0;
}

label.filter-button .icon {
  display: none;
  vertical-align: text-bottom;
  padding-right: 8px;
}
label.filter-button:has(input:checked) .icon {
  display: inline-block; /* Show the icon when checked */
}
